/* Styles for scrollytelling elements */

#scrolly-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

#scrolly-container > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 0 0 auto;
}

/* CSS properties common to all sticky content */
.sticky-content {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  width: 75%;
}

#sticky-image-container {
  margin: 0;

  /* Center everything inside */
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: none; /* hide by default, let meta data decide when to display */
}

#sticky-image-container img {
  padding: 0rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#sticky-map-container {
  display: none; /* hide by default, let meta data decide when to display */
}

#sticky-video-container * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sticky-content {
  /* The opacity transition will fade the content in/out when it gets replaced, 
  so set the opacity to 1 when fading in and 0 when fading out */
  transition: opacity 0.5s linear;
}

.sticky-content img {
  /* eases transition when zoomming an image */
  transition: transform 1s linear, opacity 0.5s linear;
}

.sticky-content video,
map {
  /* eases transition when zoomming an image or video */
  transition: opacity 0.5s linear;
}

article {
  position: relative;
  width: 25%;
  padding: 0 0rem;
}

.step {
  margin: 0rem 1rem 10rem 0rem;
  color: #d8d1d1;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-content {
  background-color: #0001;
  padding: 1rem;
}

.step:first-child {
  margin-top: 5rem;
}
.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: clamp(10px, 3.5vw, 24px);
}
