/* Styles for scrollytelling elements */

#scrolly-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

#scrolly-container > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#sticky-image {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  display: none; /* hide by default, let meta data decide when to display */
}

#sticky-image img {
  padding: 0rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;

  transition: transform 1s ease-in;
}

#sticky-map {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 12.5vh;
  height: 75vh;
  display: none; /* hide by default, let meta data decide when to display */
}

article {
  position: relative;

  padding: 0 0rem;
  max-width: 20rem;
}

.step {
  margin: 0rem 1rem 10rem 0rem;
  color: #d8d1d1;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-content {
  background-color: #0001;
  padding: 1rem;
}

.step:first-child {
  margin-top: 5rem;
}
.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
