/* This file contains the CSS of the page elements not related to scrollytelling */

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 24px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

#outro {
  margin: 3rem;
  min-height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

#error-container {
  display: none; /* hide by default, set to 'flex' when displayed */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#error-dialog {
  background-color: #f77373;
  color: D8000C;
  border: 3px solid #f77379;
  max-width: 600px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: left;
}

#error-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

#error-message {
  font-weight: bold;
  margin-bottom: 2rem;
}

#error-action-container {
  text-align: left;
  font-size: smaller;
  margin-bottom: 0.5rem;
}

#error-hint {
  font-size: smaller;
  display: none; /* only display if it exists */
}
